code/artefacts/pay3/payment.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://freo.me/payment/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="payment"
	targetNamespace="http://freo.me/payment/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://freo.me/payment/">
			<xsd:element name="authorise">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="card" type="tns:cardType">

						</xsd:element>
						<xsd:element name="merchant" type="xsd:int" />
						<xsd:element name="reference" type="xsd:string"></xsd:element>
						<xsd:element name="amount" type="xsd:double"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="authoriseResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="authcode" type="xsd:string" />
						<xsd:element name="reference" type="xsd:string"></xsd:element>
						<xsd:element name="resultcode" type="xsd:int"></xsd:element>
						<xsd:element name="refusalreason" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>


		
            <xsd:complexType name="cardType">
            
								<xsd:sequence>
									<xsd:element name="cardnumber" type="xsd:int"></xsd:element>
									<xsd:element name="postcode" type="xsd:string"></xsd:element>
									<xsd:element name="name" type="xsd:string"></xsd:element>
									<xsd:element name="expiryMonth" type="xsd:int"></xsd:element>
									<xsd:element name="expiryYear" type="xsd:int"></xsd:element>
									<xsd:element name="cvc" type="xsd:int"></xsd:element>
								</xsd:sequence>
							
            </xsd:complexType>
        </xsd:schema>
	</wsdl:types>
	<wsdl:message name="authoriseRequest">
		<wsdl:part element="tns:authorise" name="parameters" />
	</wsdl:message>
	<wsdl:message name="authoriseResponse">
		<wsdl:part element="tns:authoriseResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="payment">
		<wsdl:operation name="authorise">
			<wsdl:input message="tns:authoriseRequest" />
			<wsdl:output message="tns:authoriseResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="paymentSOAP" type="tns:payment">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="authorise">
			<soap:operation soapAction="http://freo.me/payment/authorise" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="payment">
		<wsdl:port binding="tns:paymentSOAP" name="paymentSOAP">
			<soap:address location="http://localhost:8000/payment" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

